[Desktop Entry]
Name=Hello world in GTK4
GenericName=Hello world
Comment=Says Hello world
Exec=hello-world-gtk
Terminal=false
Type=Application
Keywords=Hello;World;
#Icon=hello-world-gtk
Categories=Useless;HelloWorld;
StartupNotify=false
